@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);
@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  font-family: 'Lato', sans-serif;
}

.grid-image-container {
  margin-bottom: 32px;
  text-align: center;
  .image {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 200px;
  }
}

.center {
  text-align: center;
}
