<%= render 'elements/alert' %>

<div class="row">
  <% @images.each do |image| %>
    <div class="col-md-3 grid-image-container">
      <%= link_to (image_tag image.image.url, :class => 'image'), image_path(image) %>
    </div>
  <% end %>
</div>

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#uploadModal">
  Upload Image
</button>
