<%= render 'elements/alert' %>

<h1>Latest</h1>

<div class="row image-row">
  <% @images.each do |image| %>
    <div class="col-md-3 grid-image-container">
      <%= link_to (image_tag (image.image.url(:thumb)), :class => 'image'), image_path(image) %>
    </div>
  <% end %>
</div>

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#uploadModal">
  Upload Image
</button>
