<%= render 'elements/alert' %>

<div class="row">
  <% @images.each do |image| %>
    <div class="col-md-3 grid-image-container">
      <%= link_to (image_tag image.image.url, :class => 'image'), image_path(image) %>
    </div>
  <% end %>
</div>

<p>
  <%= link_to 'New Image', new_image_path, :class => 'btn btn-default' %>
</p>
